body {

    background-color: white;
}

h2 {
    color:#424242;
    font-size:10pt;
    font-family: "roboto";
}

p {
    color: #424242;
    margin:15px;
    text-align: center;
}

.button_wraper {
    text-align: center;
}
.form_wraper{
    color:#424242;
    font-size:10pt;
    font-family: "roboto";
}
a {
    color:yellow;
}

main {
    font-family: roboto;
}
